.container{
    border: 2px solid black;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(76, 165, 169, 0.354) ;
}
h1{
    text-align: center;
    font-family: serif;
}
input{
    width: 100%;
    margin-bottom: 20px;

}
.btn{
   text-align: center; 
}
button{
    width: 100%;
    background-color: rgba(38, 38, 65, 0.61);
    border: none;
    padding: .5rem 0rem .5rem 0rem;
    font-weight: bold;
    border-radius: 20px;
    font-family: serif;
}
button:hover{
    background-color: blueviolet;
    color: white;
}

label{
    font-family: serif;
    
}